.a-site-nav {

    //Menu
    &__menu {

        font-size: 0;
        lost-flex-container: row;

        //Menu item
        .menu-item {

            lost-column: 1/4 flex 0px;
            border-left: solid 1px $stroke;
            text-align: center;

            &:nth-child(n+5) {

                border-top: solid 1px $stroke;

            }

            //Link
            a {

                display: block;
                padding: $spacing--tiny;

            }

        }

        //Current menu item
        .current-menu-item,
        .current-page-ancestor {

            a {

                background-color: $orange;
                color: $white;

            }

        }

    }

}



body {

    &.single-courses {

        .a-site-nav__menu .menu-item-26 {

            a {

                background-color: $orange;
                color: $white;

            }

        }

    }

    &.single-post {

        .a-site-nav__menu .menu-item-21 {

            a {

                background-color: $orange;
                color: $white;

            }

        }

    }

}
