.l-lost-three-col {

    lost-column: 1/1 flex;

    @include breakpoint($medium) {

        lost-column: 1/2 flex;

    }

    @include breakpoint($large) {

        lost-column: 1/3 flex;

    }


}
