// padding top & bottom

.u-section-padding-tb {

    padding-bottom: $spacing--small;
    padding-top: $spacing--small;

    @include breakpoint($small) {

        padding-bottom: $spacing--medium;
        padding-top: $spacing--medium;


    }

}


.u-mb {

    margin-bottom: $spacing--medium;

}


// padding left & right
.u-section-side-spacing {

    padding-left: $spacing--small;
    padding-right: $spacing--small;

}

.u-max-width-container {

    margin: 0 auto;
    max-width: 1280px; //1280px
    padding-left: $spacing--small;
    padding-right: $spacing--small;
    position: relative;


    &--padding-top {

        @include breakpoint($medium) {

            padding-top: $spacing--large-xx;

        }

    }

    &--tiny {

        max-width: 60em; //600px

    }

    &--smaller {

        max-width: 75em; //850px

    }

    &--small {

        max-width: 85.5em; //850px

    }

    &--medium {

        max-width: 100em; //1000px

    }

}
