// padding top & bottom
.u-section-spacing--x-large {

    padding-bottom: $spacing--small;
    padding-top: $spacing--small;


    @include breakpoint($small) {

        padding-bottom: $spacing--xx-large;
        padding-top: $spacing--xx-large;


    }

    &--no-padding-bottom {

        padding-bottom: 0;

    }

}


// padding top & bottom - used in the footer
.u-section-spacing--small {

    padding-bottom: $spacing--small;
    padding-top: $spacing--small;

}

// padding left & right
.u-section-side-spacing {

    padding-left: $spacing--small;
    padding-right: $spacing--small;

}

.u-max-width-container {

    margin: 0 auto;
    max-width: 1280px; //1280px
    position: relative;


    &--padding-top {

        @include breakpoint($medium) {

            padding-top: $spacing--xx-large;

        }

    }

    &--tiny {

        max-width: 60em; //600px

    }

    &--smaller {

        max-width: 75em; //850px

    }

    &--small {

        max-width: 85.5em; //850px

    }

    &--medium {

        max-width: 100em; //1000px

    }

}
