.u-video-wrapper {

	height: 0;
	padding-bottom: 54%; /* 16:9 */
	padding-top: 25px;
	position: relative;

    iframe {

		bottom: 0;
		right: 0;
    	height: 100%;
    	left: 0;
    	position: absolute;
    	top: 0;
    	width: 100%;

    }


}
