.o-event-banner {

    @include clearfix;
    background-color: $orange;
    color: $white;
    font-family: $font-primary--regular;
    padding: $spacing--tiny $spacing--small $spacing--medium $spacing--small;
    width: 100%;
    z-index: 1;

    @include breakpoint($large) {

        background-color: rgba($orange, .9);
        margin-top: -55px;
        position: absolute;
        padding: $spacing--x-tiny $spacing--small;

    }

    @include breakpoint($large) {}

    //Details
    &__details {

        @include set-font-size(1.6rem, 1.6rem, 1.6rem);
        margin: 0;
        padding: $spacing--tiny 0;

        @include breakpoint($medium) {

            padding: $spacing--tiny 0 0 0;

        }

        @include breakpoint($large) {

            padding: $spacing--x-tiny 0;

        }

    }

    //Title
    &__title {

        font-family: $font-primary--bold;
        margin: 0;
        display: block;
        @include set-font-size(1.8rem, 1.8rem, 1.8rem);

        @include breakpoint($small) {

            display: inline-block;

        }

        @include breakpoint($large) {

            display: inline-block;
            @include vertical-align(absolute);

        }


    }

    //Date
    &__date {

        //font-family: $font-primary--light;
        display: block;
        margin-bottom: $spacing--small;

        @include breakpoint($small) {

            display: inline-block;

        }

        @include breakpoint($large) {

            display: inline-block;
            margin-bottom: 0;

        }


    }


    //Inner
    &__inner {

        text-align: center;
        padding: 0 $spacing--large;

    }

    // Colums
    &__columns {

        lost-flex-container: row;

    }

    //Column
    &__column {

        //padding: $spacing--tiny 0;

        //Narrow
        &--narrow {

            lost-column: 12/12 0 0px flex;
            text-align: center;

            @include breakpoint($large) {

                lost-column: 2/12 0 0px;
                text-align: left;

            }

        }

        //Wide
        &--wide {

            lost-column: 12/12 0 0px flex;
            position: relative;

            @include breakpoint($large) {

                lost-column: 10/12 0 0px;

            }

        }

    }

    //Event
    &__event {

        display: inline-block;
        position: relative;

    }

    //Controls
    &__controls {

        @include set-font-size(2.4rem, 2.4rem, 2.4rem);
        display: inline-block;
        z-index: 1;

        @include breakpoint($small) {

            @include vertical-align(absolute, 30%);

        }

        @include breakpoint($medium) {

            @include vertical-align(absolute, 50%);

        }

        //Next
        &--next {

            right: 0;
            //transform: translateX(10%);

        }

        //Prev
        &--prev {


        }

        .icon {

            transition: all .2s ease;
        }

        &:hover {

            cursor: pointer;

            .icon {

                transform: scale(1.2);

            }

        }


    }


    //Link
    &__button {

        border: solid 1px $white;
        padding: $spacing--x-tiny $spacing--small;
        color: $white;
        @include set-font-size(1.3rem, 1.3rem, 1.3rem);
        position: relative;
        padding: .8rem 2rem;
        display: inline-block;

        @include breakpoint($small) {

            margin-left: $spacing--small;

        }

        @include breakpoint($large) {

            margin-left: $spacing--large;

        }

        .icon {

            @include set-font-size(1rem, 1rem, 1rem);
            transform: translateX(4px);
            transition: all .2s ease;

        }

        &:hover {

            .icon {

                transform: translateX(10px);

            }

        }

    }

}


/**
* Slick dots
*/
$slick-font-path: "./fonts/" !default;
$slick-font-family: "slick" !default;
$slick-loader-path: "./" !default;
$slick-arrow-color: white !default;
$slick-dot-color: white !default;
$slick-dot-color-active: $slick-dot-color !default;
$slick-prev-character: "\2190" !default;
$slick-next-character: "\2192" !default;
$slick-dot-character: "\2022" !default;
$slick-dot-size: 3rem !default;
$slick-opacity-default: 0.75 !default;
$slick-opacity-on-hover: 1 !default;
$slick-opacity-not-active: 0.25 !default;

.slick-dots {
    position: absolute;
    bottom: -20px;
    list-style: none;
    display: block;
    text-align: center;
    padding: 0;
    margin: 0;
    width: 100%;
    left: 0;
    li {
        position: relative;
        display: inline-block;
        height: 20px;
        width: 20px;
        margin: 0 5px;
        padding: 0;
        cursor: pointer;
        button {
            border: 0;
            background: transparent;
            display: block;
            height: 20px;
            width: 20px;
            outline: none;
            line-height: 0px;
            font-size: 0px;
            color: transparent;
            padding: 5px;
            cursor: pointer;
            &:hover, &:focus {
                outline: none;
                &:before {
                    opacity: $slick-opacity-on-hover;
                }
            }
            &:before {
                position: absolute;
                top: 0;
                left: 0;
                content: $slick-dot-character;
                width: 20px;
                height: 20px;
                font-family: $slick-font-family;
                font-size: $slick-dot-size;
                line-height: 20px;
                text-align: center;
                color: $slick-dot-color;
                opacity: $slick-opacity-not-active;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
            }
        }
        &.slick-active button:before {
            color: $slick-dot-color-active;
            opacity: $slick-opacity-default;
        }
    }
}
