/**
* Hero carousel content
*/
.o-hero-carousel__content {

    background-color: $grey--dark;
    color: $white;
    font-family: $font-primary--regular;
    left: $spacing--small;
    line-height: 1.5;
    outline: 0;
    width: 100%;
    z-index: 1;

    @include breakpoint($small) {

        @include vertical-align(absolute, 30%);
        background-color: rgba($grey--dark, .65);
        width: 380px;

    }

    //Inner
    &__inner {

    }

    //Content
    &__wrapper {

        padding: $spacing--tiny $spacing--small $spacing--small;

    }

    //Title
    &__title {

        font-family: $font-primary--bold;
        margin: 0;

    }

    //Paragraph
    &__paragraph {


    }

}
