/**
* Hero carousel background image
*/
.o-hero-carousel {

    position: relative;

    //Background image
    &__background-image {

        overflow: hidden;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        height: 360px;

        @include breakpoint($small) {

            height: calc(100vh - 126px);

        }

    }

}


/**
* Hero carousel content
*/
.o-hero-carousel__content {

    background-color: $grey--dark;
    color: $white;
    left: $spacing--large;
    outline: 0;
    width: 100%;
    z-index: 1;

    @include breakpoint($small) {

        @include vertical-align(absolute, 30%);
        background-color: rgba($grey--dark, .6);
        width: 380px;

    }

    //Inner
    &__inner {

    }

    //Content
    &__wrapper {

        padding: $spacing--tiny $spacing--small $spacing--small;

    }

    //Title
    &__title {

        font-family: $font-primary--bold;
        margin: 0;

    }

    //Paragraph
    &__paragraph {


    }

}

/**
* Hero carousel controls
*/
.o-hero-carousel__controls {

    @include set-font-size(1.1rem, 1.1rem, 1.1rem);
    border-top: solid 1px $stroke--light;
    color: $white;
    display: table;
    text-align: center;
    text-transform: uppercase;


    &__column {

        display: table-cell;
        width: 100%;

        a {

            color: currentColor;
            display: block;
            padding: $spacing--tiny $spacing--small;

            &:hover {

                background-color: $grey--dark;
                color: $white;

            }

            .icon {

                margin-right: $spacing--x-tiny;

            }

        }

        &--arrow {

            width: 30px;
            border-right: solid 1px $stroke--light;

        }

        span {

            display: block;
            color: currentColor;
            padding: $spacing--tiny $spacing--small;

            &:hover {

                cursor: pointer;
                background-color: $grey--dark;
                color: $white;

            }

            &:active, &:focus {

                outline: 0;

            }

        }

    }

}

//Prev button
.o-hero-carousel__controls__navigation--prev {

    transform: rotate(180deg);

}


//Call to action
.o-hero-carousel {

    &__ctas {

        color: $white;
        padding: $spacing--small;
        width: 100%;
        z-index: 1;

        @include breakpoint($small) {

            @include vertical-align(absolute, 80%);
            padding: 0 $spacing--small;

        }

    }

    &__ctas-inner {

        lost-flex-container: row;

    }

    &__cta {

        lost-column: 12/12 flex;
        color: $white;
        padding: $spacing--small;
        min-height: 160px;
        position: relative;
        box-shadow: 0px 0px 20px 0px rgba($black, .4);
        transition: all .2s ease;

        &--garden-design {

            background-color: $green;

            &:hover {

                //background-color: $green--dark;

            }

        }

        &--interior-design {

            background-color: $blue;

            &:hover {

                //background-color: $blue--dark;

            }

        }


        &:hover {

            .o-hero-carousel__cta-link {

                transform: translateX(0px);

            }

        }

        &:first-child {

            margin-bottom: $spacing--small;

        }

        @include breakpoint($small) {

            lost-column: 6/12 flex;

            &:first-child {

                margin-bottom: 0;

            }

        }

    }

    //Title
    &__cta-title {

        margin: 0;
        @include set-font-size(2.4rem, 2.4rem, 2.4rem);

    }

    //Link
    &__cta-link {

        @include set-font-size(1.4rem, 1.4rem, 1.4rem);
        bottom: $spacing--small;
        position: absolute;
        right: $spacing--small;
        transform: translateX(-10px);
        transition: all .2s ease;

        .icon {

            @include set-font-size(.9rem, .9rem, .9rem);
            margin-left: $spacing--x-tiny;

        }

    }


}
