/**
* Hero carousel background image
*/
.o-hero-carousel {

    position: relative;

    //Background image
    &__background-image {

        overflow: hidden;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        height: 360px;

        @include breakpoint($small) {

            height: calc(100vh - 137px);

        }

    }

}
