
/* ---- grid ---- */
/* clear fix */
.grid:after {

  clear: both;
  content: '';
  display: block;

}

/* ---- .grid-item ---- */

.masonry-grid {

    max-width: 1200px;
    margin-top: -2px;
    margin-right: -2px;

    &__item {

        $dimensions: 305px;
        background: $grey--lighter;
        border: 2px solid $white;
        float: left;
        height: $dimensions;
        position: relative;
        width: $dimensions;
        overflow: hidden;

        &--width2 {

            width: $dimensions * 2;

        }

        &--height2     {

            height: $dimensions * 2;

        }

    }

    // IMage
    &__image {

        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        transform: scale(1);
        transition: all .2s ease-in-out;
        z-index: 0;

    }

    // Title
    &__title {

        @include set-font-size(1.4rem, 1.6rem, 1.8rem);
        background-color: rgba($grey--dark, .9);
        bottom: 0;
        color: $white;
        left: 0;
        padding: $spacing--tiny;
        position: absolute;
        right: 0;
        transition: background-color .1.5s ease;
        width: 100%;
        z-index: 1;

    }

}


.masonry-grid__item {

    &:hover {

        // Image
        .masonry-grid__image {

            transform: scale(1.05);
            outline: solid 2px red;

        }

        // Title
        .masonry-grid__title {

            background-color: rgba($orange, .8);

        }

    }

}
