.page-footer{

	background-color: $grey--dark;
	color: $white;
	@include set-font-size(1.6rem, 1.6rem, 1.6rem);
	color: $grey--lighter;
	padding: $spacing--x-small $spacing--small;

	@include breakpoint($small) {

		padding: $spacing--small;

	}


	//Logo
	.icon--inchbald-logo {

		width: 130px;
		height: 61px;
		//margin: $spacing--x-tiny 0;
		@include vertical-align(absolute);
		left: 0;

	}

	a {

		display: inline-block;
		color: currentColor;

		&:hover {

			color: $white;

		}

	}

	//Columns
	&__columns {

		display: table;
		width: 100%;

	}

	//Column
	&__column {

		display: block;
		text-align: center;

		@include breakpoint($small) {

			display: table-cell;
			text-align: left;
			width: 33.333%;

		}

	}

	&__copyright {

		@include set-font-size(1.1rem, 1.1rem, 1.1rem);
		//border-top: solid 1px $stroke;
		padding: $spacing--x-small 0;
		text-align: center;
		display: block;

	}


}

//Footer navigation
.footer-navigation {

	padding: $spacing--tiny 0;

	@include breakpoint($small) {

		padding: 0;
		text-align: center;

	}

	//Item
	&__item {

		color: $white;
		margin: 0 $spacing--tiny;

		&:hover {

			text-decoration: underline;

		}

	}

}

//Social navigation
.social-navigation {

	@include set-font-size(1.6rem, 1.6rem, 1.6rem);
	text-align: center;
	//padding: $spacing--small;
	@include vertical-align(absolute);
	right: 0;

	@include breakpoint($small) {

		text-align: right;

	}

	//Item
	&__item {

		color: $white;
		margin-right: $spacing--small;

		&:hover {

			text-decoration: underline;
			cursor: pointer;

		}

		&:last-child {

			margin-right: 0;

		}

	}

}
