.page-header {

	background-color: rgba($grey--dark, .95);
	box-shadow: 0 0 20px 0 rgba($black, .4);
	flex-wrap: nowrap;
	font-family: $font-primary--regular;
	left: 0;
	lost-flex-container: row;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 2;

	a {

		@include set-font-size(1.2rem, 1.2rem, 1.2rem);
		color: $grey--lighter;
		transition: all .2s ease;
		letter-spacing: 1px;

		//Hover
		&:hover {

			background-color: $grey--darker;
			color: $white;

		}

	}

	//Column
	&__column {

		//Logo
		&--logo {

			padding: 0 $spacing--small;
			width: 60%;

			a {

				display: inline-block;
				padding-top: 7px;
				position: absolute;

				&:hover {

					background-color: transparent;

				}

			}

		}

		//Navigation
		&--navigation {

			flex-direction: column;
			width: 60%;

		}

		// Search and portal
		&--search-portal {

			display: flex;
			width: 250px;

		}

		//Search
		&--search {

			border-left: solid 1px $stroke;
			border-right: solid 1px $stroke;
			position: relative;
			text-align: center;
			width: 71px;

			.search {

				bottom: 0;
				display: block;
				position: absolute;
				top: 0;
				width: 100%;

				&:hover {

					cursor: pointer;

				}

			}

		}

		//login
		&--portal {

			width: 160px;

		}

	}


}

//Icons
.icon {

	//Inchbald logo
	&--inchbald-logo {

		height: 60px;
		width: 160px;

	}

	//Search
	&--search {

		font-size: 2rem;
		@include absolute-center();
		position: absolute;

	}


	//Close
	&--close {

		font-size: 2rem;
		@include absolute-center();
		position: absolute;

	}

	//Lock
	&--lock {

		font-size: 1.1rem;
		left: 0;

	}

}


//Login - Student and Alumni portal
.login {

	lost-flex-container: row;

	&__item {

		width: 100%;

		a {

			display: block;
			padding: $spacing--tiny 0 $spacing--tiny $spacing--tiny;

			&:hover {

				.icon {

					fill: $white;

				}

			}

		}

		//Student
		&--student {

			border-bottom: solid 1px $stroke;

		}

	}

}
